*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --body-background: #ecf0f1;
    --container-background: #fbfcfc;
    --border: #e5e7e9;
    --header-text: #2C3E50 ;
    --task-input: #CACFD2 ;
    --add-input:#566573;
    --blue: #0dcaf0;
    --clear: #E74C3C;
    --edit: #3498DB;
}
    
   

body{
    background-color: var(--body-background) ;
}

.container{
    max-width: 500px;
    margin: 28px auto;
    padding: 24px;
    background-color: var(--container-background)  ;
    border-radius: 20px;
    border:1px solid --border;
    display: flex;
    flex-direction: column;
  
}

.header{
    margin-bottom: 28px;
    color: var(--header-text);
    font-size: 28px;
    font-weight: 500;
}

.add-task{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.add-task-input{
    height: 38px;
    padding: 4px 10px;
    background: none;
    outline: none;
    border: 1px solid;
    border-color: var(--border);
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 1px;
    flex-grow: 2;
}

.add-task-input::placeholder{
    color: var(--add-input);
}

.add-task-input:focus{
    border-color:var(--blue);
}

.add-task-btn{
    border: none;
    border-radius: 5px;
    outline: none;
    background:var(--blue);
    color: #fff;
    padding: 4px 10px;
    cursor: pointer;
}

.tasks-inner{
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tasks-header{
    font-size: 20px;
    font-weight: 600;
    color: var(--header-text) ;
    display: flex;
    justify-content: space-between;
    
}

.clear-all-btn{
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--clear);
}


.task-list{
    list-style: none;
    height: 38px;
    margin-bottom: 12px;
    padding: 6px 10px;
    background-color: var(--border) ;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
}

.task-list label{
    flex-grow: 4;
    margin-left: 5px;
}

.task-list label.checked{
    text-decoration: line-through;
}




.edit-btn,
.delete-btn{
    border: none;
    background: none;
    font-size: 15px;
    margin-left: 20px;
    cursor: pointer;
}

.edit-btn{
    color: var(--edit);
}

.delete-btn{
    color: var(--clear);
    margin-right: 12px;
}


@media (max-width: 768px){
    .add-task{
        gap:20px;
    }

    .add-task-input{
        width: 70%;
    }
}

@media (max-width: 520px){
    .container{
        margin: 28px 16px;
    }
    .add-task-input{
        width: 65%;
    }
}