*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #ECF0F1 ;
}

.container{
    max-width: 500px;
    margin: 28px auto;
    padding: 24px;
    background-color: #FBFCFC  ;
    border-radius: 20px;
    border:1px solid #E5E7E9 ;
    display: flex;
    flex-direction: column;
  
}

.header{
    margin-bottom: 28px;
    color: #2C3E50  ;
    font-size: 28px;
    font-weight: 500;
}

.add-task{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.add-task-input{
    height: 38px;
    padding: 4px 10px;
    background: none;
    outline: none;
    border: 1px solid #CACFD2 ;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 1px;
    flex-grow: 2;
}

.add-task-input::placeholder{
    color: #566573;
}

.add-task-input:focus{
    border-color:#0dcaf0;
}

.add-task-btn{
    border: none;
    border-radius: 5px;
    outline: none;
    background:#0dcaf0;
    color: #fff;
    padding: 4px 10px;
    cursor: pointer;
}


.tasks-inner{
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tasks-header{
    font-size: 20px;
    font-weight: 600;
    color: #2C3E50 ;
    display: flex;
    justify-content: space-between;
    
}

.clear-all-btn{
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 600;
    color: #E74C3C;
}


.task-list{
    list-style: none;
    height: 38px;
    margin-bottom: 12px;
    padding: 6px 10px;
    background-color: #ecede9 ;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
}

.task-list label{
    flex-grow: 4;
}

.edit-btn,
.delete-btn{
    border: none;
    background: none;
    font-size: 15px;
    margin-left: 20px;
    cursor: pointer;
}

.edit-btn{
    color: #3498DB
}

.delete-btn{
    color: #E74C3C;
    margin-right: 12px;
}


@media (max-width: 768px){
    .add-task{
        gap:20px;
    }

    .add-task-input{
        width: 70%;
    }
}

@media (max-width: 500px){
    .add-task-input{
        width: 65%;
    }
}