*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ibarra Real Nova', serif;
}

body{
    background-color: #F7F9F9 ;
}

.container{
    max-width: 800px;
    margin: 20px auto;
    padding: 24px 20px;
    background-color: #F2F3F4  ;
    border-radius: 20px;
    border:1px solid #E5E7E9 ;
    display: flex;
    flex-direction: column;
  
}

.header{
    margin-bottom: 20px;
    color: #2C3E50  ;
    font-size: 36px;
    font-weight: 500;
}

.add-task{
    display: flex;
    gap: 32px;
}

.add-task-input{
    width: 80%;
    height: 35px;
    padding: 4px 10px;
    background-color: #D7DBDD  ;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.add-task-input::placeholder{
    color: #566573;
}

.add-task-btn{
    border: none;
    outline: none;
    background:none;
    padding: 4px 10px;
    font-size: 18px;
    font-weight: 600;
    color: purple;
    cursor: pointer;
}

.tasks-inner{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tasks-header{
    font-size: 22px;
    font-weight: 600;
    color: #2C3E50 ;
    
}


.task-list{
    list-style: none;
    height: 36px;
    margin-bottom: 12px;
    padding: 6px 10px;
    background-color: #D7DBDD  ;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;   
    display: flex;
}

.task-list label{
    flex-grow: 4;
}

.edit-btn,
.delete-btn{
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
    cursor: pointer;
}

.edit-btn{
    color: #1F618D;
}

.delete-btn{
    color: #C0392B ;
    margin-right: 12px;
}

.active{
    outline: 1px solid blue;
}

.add-task-input:focus{
    border: 1px solid blue;
}

@media (max-width: 768px){
    .add-task{
        gap:20px;
    }

    .add-task-input{
        width: 70%;
    }
}

@media (max-width: 500px){
    .add-task-input{
        width: 65%;
    }
}